@model SalesCineProject.Models.ViewModels.MovieViewModel
@{
    ViewData["title"] = "Filme";
}

<h1>@ViewData["title"]</h1>

<p>Adicionar filme</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Movie.Name" class="control-label"></label>
                <input asp-for="Movie.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Hour" class="control-label"></label>
                <input asp-for="Movie.Hour" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" class="btn btn-block">Back to list</a>