
@{
    ViewData["title"] = "Details";
}
<h1>@ViewData["title"]</h1>
<hr />
<div>
    <h4>Movie details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Mode)
        </dt>
    </dl>
</div>
