
@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Gerenciamento de vendas CineProject.";
}
<hr />
<h1>@ViewData["Title"]</h1>
<hr />
<h3>@ViewData["Message"]</h3>
<h4>Este projeto tem objetivo de aprendizagem.</h4>


