@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Para entrar em contato comigo:";
}
<hr />
<h1>@ViewData["Title"]</h1>
<hr />
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Email:</strong> <a href="aramaldes876@gmail.com">aramaldes876@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/Andre07-creator">https://github.com/Andre07-creator </a>
</address>
